.navbar{
    display: flex;
    flex-direction:row;
    /* gap:1rem; */
    background-color: antiquewhite;
    width: 100%;
    justify-content: start;
    align-items: center;
    /* padding: 3rem; */
}

#namae{
    font-size:6rem;
    font-weight:bold;
    padding-left: 4rem;
}

.depart{
    font-size: 2rem;
    padding-left: 45rem;
    font-weight: bold;
}

.btn{
    padding: 1rem;
    width: 10rem;
    background-color: #de9126;
    color: #fff;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    margin: 2rem;
}

#cardsouter{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2rem;
    gap:3rem;
    justify-content: center;
    /* margin: 3rem; */
    /* align-items: center; */
    /* background-color: #de9126; */
}

#cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    padding:2rem;
    border:solid 0.5rem #de9126 ;
    border-radius: 1rem;

}

.buttons{
    padding: 1rem;
    width: 8rem;
    background-color: rgb(222, 139, 38);
    color: #fff;
    border: solid black 2px;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
}

.domain-info{
    width: 100%;
    /* height: 100vh; */
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;

}